.footer {
    width: 100%;
    height: 322px;
    background: #001C37;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72.3px;
}

.footer-nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 37px;
}
.footer-menu a{
    color: var(--theme-color);
    text-decoration: none;
    font-size: 14px;

}

.linkedin-logo {
    align-self: center;
}


.reg {
    color: rgba(255, 255, 255, 0.6)
}

@media (max-width: 1000px){
    .footer {
        padding-top: 40px;
        padding-bottom: 80px;
        width: 100%;
        background: #001C37;
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    
    .footer-nav{
        display: flex;
        flex-direction: column;
        align-items: center;    
    }
    

    .footer-logo{
        margin-top: 40px;
        margin-bottom: 32px;
    }
    
    .row1, .row2{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .footer-menu{
        margin: 0;
        padding: 0;
        margin-left: 23px;
        
    }

    .footer-menu a{
        color: var(--theme-color);
        text-decoration: none;
    }
    
    .linkedin-logo {
        width: 78px;
        height: 19px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    
    .reg {
        color: rgba(255, 255, 255, 0.6)
        
    }
}
