:root {
    --theme-color: white;
    --primary-color: #0083FF;
    --tertiary-color: #8300FF;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}

@media (max-width: 1000px){
 
}