.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 1700px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 26px 65px 10px 61px;
    margin: 0 auto;
}

.header-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.header-menu a {
    color: var(--theme-color);
    font-size: medium;
    text-decoration: none;
    font-weight: 400;
    line-height: 44px;
    padding: 9px 0px 7.8px 0px;
}

.close-menu {
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}

.open-menu,
.close-menu {
    display: none;
}



@media (max-width: 1010px) {

        .header-menu{
            display: none;
        }

        .header-container{
            display: flex;
            gap: 90px;
            padding: 20px 16px 0px 16px;
        }

        .open-menu{
            display: block;
            border: none;
            background: none;
        }
}


