.ourteam-title{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 71px;
    margin-bottom: 22px;
}

.ourteam-container {
    display: flex;
    justify-content: space-between;
    gap: 61px;
    margin: 0px 61px 0px 61px;
}

.ourteam-card{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 254px;
    height: 168px;
    margin-bottom: 70px;
}

.ourteam-card-descrip{
    display: flex;
    gap: 16px;
}

.ourteam-texts{
    font-weight: medium;
    display: flex;
    flex-direction: column;
}

.ourteam-texts h3 {
    font-weight:400;
    font-size: 24px;
    margin-bottom: 9px;
  }

.ourteam-texts p{
    margin: 0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.ourteam-btn-container{
    display: flex;
    align-self: flex-end;
    padding: 0;
    margin-right: 47px;
}

.ourteam-button{
    color: var(--primary-color);
    width: 103px;
    height: 40px;
    font-size: 12px;
    font-weight: normal;
    background: transparent;
    border: 1px solid var(--primary-color);
    position: relative;
    
}

.ourteam-texts h3,
.ourteam-texts p {
  margin-top: 0;
  margin-bottom: 5px;
}

.ourteam-button {
  margin-top: auto;
  margin-bottom: 5px;
}

@media (max-width: 1250px) {
    .ourteam-title{
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 31px;
    }
    
    .ourteam-container {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 17px;
        padding-left: 16px;
        padding-bottom: 40px;
    }
    
    .ourteam-card{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 149px;
        height: 246px;
    }
    
    .ourteam-card-descrip{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .ourteam-texts{
        font-weight: medium;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    
    .ourteam-texts h3 {
        font-weight: medium;
        font-size: 24px;
      }
    
    .ourteam-texts p{
        font-size: 14px;
        color: rgba(0, 0, 0, 0.6);
    }
    .ourteam-btn-container{
        display: flex;
        margin-right: 10px;
    }

    .ourteam-btn-container{
        display: flex;
        align-self:flex-start;
        padding: 0;
        margin-right: 10px;
    }

    .ourteam-button{
        color: var(--primary-color);
        width: 103px;
        height: 40px;
        font-size: 12px;
        font-weight: normal;
        background: transparent;
        border: 1px solid var(--primary-color);
    }
    
}